@import '../../styles/partials/common-styles';

.nav {
    @include commonFlex(space-around, row, wrap);
    background-color: $drop-grey;
    height: 80px;
    align-items: center;

    &__header {
        margin: 0;

        &-logo {
            margin: 0;
            height: 80px;
        }
    }
}