@import '../../styles/partials/common-styles';
a {
    text-decoration: none;
}
.card {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-bottom: 30px;
    margin-right: 30px;

    .card:hover {
        transform: scale(2);
    }

    &__name {
        color: black;
    
    }

    &__image {
        height: 50px;
        width: 50px;
    }
}