@import '../../styles/partials/common-styles';

.profile-main {
    background-image: url(../../assets/images/main-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 48vw;

    &__hero {

    }

}

