@import '../../styles/partials/common-styles';


.login-main {
    background-color: $drop-white;
    height:100vh;
    background-image: url(../../assets/images/drop-background.png);
    background-size: contain;
    background-repeat: repeat;

}

.login {

    &-form {
        @include commonFlex(space-around, column, wrap);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25%;
        height: 50vh;
        background-color: $drop-grey;
        padding: 0 3%;
        border-radius: 2em;

        &__title {
            @include soraBold;
            width: 50%;
            margin: 0 auto;
            text-align: center;
            color: $drop-green;

        }

        &__input{
            padding: 0 1em;
            border: none;
            height: 48px;
            color: $drop-white;
            background-color: $drop-green;
            color: $drop-white;
            border-radius: 15px;
            outline: none;
        }

        &__input::placeholder{
            color: $drop-white;
        }

        &__button {
            padding: 0 1em;
            width: 100%;
            border: none;
            height: 48px;
            border-radius: 15px;
            color: $drop-white;
            background-color: $drop-green;

        }
    }
}