@import '../../styles/partials/common-styles';

@import '../../styles/partials/common-styles';

.login-main {
    background-color: $drop-grey;
    height:100vh;

}

.login {
   

    &-form {
        @include commonFlex(space-around, column, wrap);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50vh;
        background-color: $drop-peach;
        padding: 0 10%;
        border-radius: 2em;

        &__input{
            padding: 0 1em;
            border: none;
            height: 48px;
            border-radius: 32px;
            color: $drop-white;
            background-color: $drop-green;
            color: $drop-white;

        }

        &__button {
            padding: 0 1em;
            width: 100%;
            border: none;
            height: 48px;
            border-radius: 32px;
            color: $drop-white;
            background-color: $drop-green;

        }
    }
}