@import '../../styles/partials/common-styles';
.main {
    margin: 0;
    background-image: linear-gradient(to right, rgb(65, 163, 150) , rgb(78, 119, 124));
    height: 100vh;

    .login {

        &__section {
            background-color: rgb(15, 15, 15, 0.5);
            width: 50%;
            height: 20em;
            margin: auto;
            padding-top: 7em;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    
            &-label {
                width: 50%;
                margin: 0 auto;

            }

            &-input {
                border: none;
                border-bottom: black 1px solid;
                background-color: rgb(15, 15, 15, 0.5);
                height: 2em;
                width: 50%;
                margin: 0 auto;
                color: white;
                padding-left: 10px;
            }

            &-error {
                color: rgb(255, 255, 255);
                font-size: 14px;
            }

            &-options {
                @include commonFlex(space-around, column, wrap);

                &-items {

                    &-button {
                        color:black;
                        background-color: $greenish-color;
                        width: 50%;
                        margin: 0 auto;
                        height: 30px;
                        border: none;
                    }

                    &-text {
                        color: black;

                        &-selector {

                            color: black;
                            background-color: $greenish-color;
                            border: none;

                        }
                    }
                }
            }
        }
    }
}
