@import '../../styles/partials/common-styles';

.profile-hero {
    background-image: url(../../assets/images/test-hero-image-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 53vw;
}