@import '../../styles/partials/common-styles';

.cart-item {

    @include commonFlex(space-around, row, wrap);
    align-items: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    background-color: $drop-grey;
    margin-bottom: 1em;
    padding: 10px 10px;

    &__text {
        @include soraMed;
        color: $drop-green;
    }

    &__item {


    }

    &__price {

        
    }

    &__qty {


    }

    &__arrow-icons {


    }

    &__trash-icon {


    }
}

.cart-section {
    background-color: $drop-white;
    height:100vh;
    background-image: url(../../assets/images/drop-background.png);
    background-size: contain;
    background-repeat: repeat;

    &__header {

        &-text {
            @include soraBold;
            font-size: 2rem;
            color: $drop-green;
            margin-left: 6%;


        }
    }

    &__table {
        @include commonFlex(space-between, row, wrap);
        width: 70%;
        margin: 10px auto;

        &-header {
            @include soraBold;
            color: $drop-green;

        }
    }

    &__items {

        &-total {
            @include soraMed;
            color: $drop-white;
            width: 10%;
            margin: 1em auto;
            background-color: $drop-green;
            text-align: center;
            height: 1.5em;
            border-radius: 10px;
            padding: 15px 0;
            
        }
    }
}

.cart-form {
    @include commonFlex(space-between, column, wrap);
    padding: 10px 10px;
    width: 25%;
    margin: 10px auto;
    height: 7em;
    border-radius: 15px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    background-color: $drop-grey;

    &__header {
        @include soraBold;
        font-size: 1rem;
        color: $drop-green;
        text-align: center;
    }

    &__element {
        background-color: $drop-grey;
        border-radius: 15px;
        padding: 10px 5px;
        height: 1em;
        width: 80%;
        margin-left: 10%;
    }

    &__button {
        @include soraMed;
        font-size: 1rem;
        margin: 0 auto;
        width: 25%;
        border-radius: 10px;
        border: none;
        background-color: $drop-green;
        color: $drop-white;
    }
}

.checkout-message {
    margin: 3em 12em;
    position: absolute;
    width: 50%;
    &__header {
        font-size: 2em;
        margin: 0;
        @include soraBold;
        color: $drop-green;
    }

    &__location {
        @include soraMed;
        color: $drop-green;
    }

    &__span {
        @include soraBold;
        color: $drop-black;
    }
}

.checkout-section {
    margin: 0;
    position: absolute;
    z-index: -1;
    top: 80;
    width: 100%;
    background-image: url(../../assets/images/checkout-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;

    &__map {
        margin-left: 100px;
    }
}