@import '../../styles/partials/common-styles';
.login-header{
    width: 100%;
    @include commonFlex(space-between, row, wrap);

    &__nav {
        @include commonFlex(space-between, row, wrap);
        background-color: $drop-grey;
        height: 80px;
        width: 100%;
        align-items: center;

        &-header {
            margin: 0;
            margin-left: 6%;
        }
    

        &-text {
            @include soraBold;
            margin: 0;
            color: $drop-green;
            width:100%;
        }
    
        &-buttons {
            @include commonFlex(space-between, row, wrap);
            margin-right: 10px;
    
            &-register {
                width: 10em;
                border: none;
                height: 48px;
                border-radius: 15px;
                color: $drop-white;
                background-color: $drop-green;
                margin-left: 15px;
            }
    
            &-login {
                width: 10em;
                border: none;
                height: 48px;
                border-radius: 15px;
                color: $drop-white;
                background-color: $drop-green;
                margin-left: 15px;
            }
        }
    }
}
