@import '../../styles/partials/common-styles';
.login-header{
    width: 100%;
    @include commonFlex(space-between, row, wrap);

    &__nav {
        @include commonFlex(space-between, row, wrap);
        background-color: $drop-peach;
        height: 80px;
        width: 100%;
        align-items: center;
        &-header {
    
            margin: 0;
        }
    
        &-logo {
            margin: 0;
            height: 80px;
            margin-left: 10px;
        }
    
        &-buttons {
            // width: 40%;
            @include commonFlex(space-between, row, wrap);
            margin-right: 10px;
    
            &-register {
                width: 10em;
                border: none;
                height: 48px;
                border-radius: 32px;
                color: $drop-white;
                background-color: $drop-green;
                margin-left: 15px;
            }
    
            &-login {
                width: 10em;
                border: none;
                height: 48px;
                border-radius: 32px;
                color: $drop-white;
                background-color: $drop-green;
                margin-left: 15px;
            }
        }
    }
}
