@import '../../styles/partials/common-styles';

.home-main {

    &__hero {
        width: 100%;
        @include commonFlex(space-between,row,wrap);
        justify-content: flex-start;
        align-content: center;
        background-image: url(../../assets/images/main-hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;

        &-description {
            width:25%;
            margin-left: 7%;
    
            &-name {
                color: $drop-green;
                font-size: 4rem;
            }
    
            &-explained {
                @include soraReg;
                color: $drop-green;
                font-size: 1.5rem;
                line-height: $header2-line-height;
            }
        }
    }
}